<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <br>
    <h1 style="text-align: center">Login</h1>
    <br>
    <form class="container-form" action="/account/checkLogin" method="post">
        <div>
            <label class="label-headline">Bitte geben Sie hier Ihre Logindaten ein!</label>
            <div class="form-form">
                <br>
                <label id="usernamelabel" for="username">Benutzername</label>
                <input type="text" name="username" id="username" aria-describedby="usernamelabel">
                <br>
                <label id="passwordlabel" for="password">Passwort</label>
                <input type="password" name="password" id="password" aria-describedby="passwordlabel">
                <br>
                <div role="group" aria-label="login">
                    <button class="submit-btn" value="sumit">Anmelden</button>
                </div>
                <br>
                <div role="group" aria-label="login">
                    <p>Neu bei uns?<a href="/account/register">Jetzt Registrieren</a></p>
                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>